html,
body,
div,
span,
applet,
object,
iframe,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

div:focus {
  outline: none;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}

textarea,
select,
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week] {
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-radius: 0;
  -webkit-appearance: none;
  border: none;
  text-align: left;
  font-size: 1em;
  vertical-align: middle;
  padding: 10px 15px;
  margin-bottom: 12px;
}

input,
textarea {
  box-shadow: none !important;
  border-radius: 0;
}

input:focus,
textarea:focus,
select:focus,
option:focus {
  outline: none;
}

p {
  margin-bottom: 15px;
}

body {
  color: #000;
  font-family: "Poppins-Regular";
  background-color: #1b1b1b;
  overflow: auto;
  overflow-x: hidden !important;
}

body.hide_scroll {
  padding-right: 17px;
  overflow: hidden !important;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.clear {
  clear: both;
}

.upper {
  text-transform: uppercase;
}

.lower {
  text-transform: lowercase !important;
}

.posrel {
  position: relative;
}

.posabs {
  position: absolute;
}

.mar0auto {
  margin: 0 auto;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.no-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.no-margin {
  margin-left: 0px;
  margin-right: 0px;
}

.maze_o {
  color: #ff9600;
}

.maze_b {
  color: #000;
}

.text_main_color {
  color: #FFDD00;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

::-moz-selection {
  /* Code for Firefox */
  color: #000;
  background: #FFDD00;
}

::selection {
  color: #000;
  background: #FFDD00;
}

:focus {
  outline: none !important;
}
@keyframes fa-beat {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.25);
  }
  20% {
    transform: scale(1.15);
  }
  30% {
    transform: scale(1.8);
  }
  45% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
.pulse {
  animation: fa-beat 1.2s ease infinite;
  display: inline-block;
  padding: 0px 5px 0px 4px;
  color: #d09615;
}

.navbar-brand {
  position: relative;
}

header {
  z-index: 2;
  position: fixed;
}

::-moz-selection {
  background: #ff2b59;
  color: #ffffff;
}

::selection {
  background: #ff2b59;
  color: #ffffff;
}

#home {
  height: 100dvh;
  background-color: #121925;
  position: relative;
  overflow: hidden;
}
#home #nuwera-logo {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
#home #nuwera-crowd-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(calc(1 + var(--scroll) / 2));
  z-index: 0;
}

#latest-single {
  background-color: #1b1b1b;
}
#latest-single h3,
#latest-single p {
  color: #ebe2d0;
}
#latest-single h2, #latest-single h3 {
  text-transform: uppercase;
}
#latest-single h2 {
  font-size: 50px;
  color: #ff2b59;
  font-family: "heaters";
}
#latest-single h3 {
  word-wrap: break-word;
  font-size: 60px;
  line-height: 0.9;
  font-family: "AlbertSans-ExtraBold";
}
#latest-single p {
  font-size: 15px;
  font-family: "Poppins-Regular";
  margin-top: 0;
  margin-bottom: 1.88em;
}
#latest-single ul {
  display: flex;
  flex-wrap: wrap;
}
#latest-single a {
  display: inline-block;
  background-color: #ff2b59;
  font-family: "Poppins-Regular";
  color: #ffffff;
  font-size: 14px;
  padding: 8px 30px;
}
#latest-single a:hover {
  background-color: #ebe2d0;
  color: #121925;
}
#latest-single a.spotify::before {
  content: "\f1bc";
  font-family: "Font Awesome 6 Brands";
  padding-right: 8px;
}
#latest-single a.youtube::before {
  content: "\f167";
  font-family: "Font Awesome 6 Brands";
  padding-right: 8px;
}
#latest-single a.apple-music::before {
  content: "\f179";
  font-family: "Font Awesome 6 Brands";
  padding-right: 8px;
}
#latest-single #vinyl-wrapper {
  position: relative;
  width: clamp(15rem, 30vw, 28rem);
  height: clamp(15rem, 30vw, 28rem);
}
#latest-single #vinyl {
  position: absolute;
  width: clamp(15rem, 30vw, 28rem);
  height: clamp(15rem, 30vw, 28rem);
  left: 90%;
  animation: disc_spin 3.5s linear infinite;
  z-index: 1;
}
#latest-single #latest-single-vinyl-pic {
  position: absolute;
  width: 12vw;
  top: 50%;
  left: 90%;
  animation: disc_spin_2 3.5s linear infinite;
  z-index: 0;
}
#latest-single #latest-single-vinyl-large-pic {
  position: relative;
  width: clamp(15rem, 30vw, 28rem);
  height: clamp(15rem, 30vw, 28rem);
  z-index: 2;
  box-shadow: 0 10px 3px -9px rgba(0, 0, 0, 0.77);
}

@keyframes disc_spin {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}
@keyframes disc_spin_2 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.albums {
  background-color: #121925;
}
.albums img {
  transition: filter 0.3s ease;
}
.albums a:hover {
  filter: brightness(1.15) saturate(1.2);
}
.albums h2 {
  font-size: 2.5rem;
  text-align: center;
  font-family: "AlbertSans-ExtraBold";
  color: #fff;
  text-transform: uppercase;
}
.albums h3 {
  font-family: "AlbertSans-ExtraBold";
  font-size: 1.2rem;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
}
.albums .social-icons {
  display: flex;
  justify-content: start;
  align-items: center;
}
.albums .social-icons li {
  margin: 0 5px;
  font-size: 15px;
}
.albums .social-icons li a {
  color: #fff;
}

#about-us {
  background-color: #1b1b1b;
}
#about-us img {
  width: 70%;
  height: auto;
}
#about-us h2, #about-us h3, #about-us h4 {
  text-transform: uppercase;
}
#about-us p, #about-us h2, #about-us h4 {
  color: #ebe2d0;
}
#about-us h2, #about-us h4 {
  font-family: "AlbertSans-ExtraBold";
}
#about-us h2 {
  word-wrap: break-word;
  font-size: 48px;
  line-height: 1.3;
}
#about-us h3 {
  font-size: 89px;
  color: #ff2b59;
  font-family: "heaters";
}
#about-us h4 {
  font-size: 32px;
}
#about-us p {
  font-family: "Poppins-Regular";
  font-size: 15px;
  line-height: 1.8;
}
#about-us ul li {
  display: inline;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}
#about-us svg {
  fill: #EBE2D0;
  width: 25px;
}

.meet-the-band {
  background-color: #121925;
}
.meet-the-band img {
  transition: filter 0.3s ease;
  aspect-ratio: 116/137;
  -o-object-fit: cover;
     object-fit: cover;
}
.meet-the-band a:hover {
  filter: brightness(1.15) saturate(1.2);
}
.meet-the-band h2 {
  font-size: 2.5rem;
  text-align: center;
  font-family: "AlbertSans-ExtraBold";
  color: #fff;
  text-transform: uppercase;
}
.meet-the-band h3 {
  font-family: "Poppins-Regular";
  font-size: 1.1rem;
  text-align: left;
  color: #fff;
  font-weight: 600;
}
.meet-the-band p {
  color: #fff;
  font-size: 0.8rem;
  font-family: "Poppins-Regular";
}

.shop-now {
  padding: 18rem 0;
  background-color: #fff;
}
.shop-now h2 {
  font-size: 5rem;
  text-align: center;
  font-family: "AlbertSans-ExtraBold";
  color: #000;
  text-transform: uppercase;
}

footer {
  background-color: #fff;
}
footer a {
  font-size: 1.25rem;
  color: #000;
  font-family: "AlbertSans-ExtraBold";
  text-transform: uppercase;
}
footer a:hover {
  text-decoration: underline;
}
footer li {
  margin-right: 8px;
}

#back-to-top-link.back-to-top-visible {
  transform: translateY(0);
}

#back-to-top-link {
  background: none !important;
  bottom: 70px;
  display: block;
  height: auto;
  position: fixed;
  right: 40px;
  transform: translateY(200px);
  transition: transform 0.2s;
  width: 60px;
  z-index: 10;
  rotate: -90deg;
}

.single-release p {
  font-family: "Poppins-Regular";
  font-size: 1rem;
  margin-bottom: 10px;
}
.single-release h1 {
  font-family: "AlbertSans-ExtraBold";
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #fff;
}
.single-release .social-share ul {
  list-style: none;
}
.single-release .social-share ul li a {
  font-size: 15px;
  margin-right: 5px;
  min-height: 50px;
  background-color: #ff2b59;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  min-width: 100px;
  margin-bottom: 10px;
}
.single-release .social-share ul li a:hover {
  background-color: #fff;
  color: #000;
}
.single-release .social-share ul li a span {
  display: none;
}/*# sourceMappingURL=custom_style.css.map */