@import "variables";
@charset "utf-8";

// resettting classes
html,
body,
div,
span,
applet,
object,
iframe,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
h1,
h2,
h3,
p {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
ol,
ul {
	list-style: none;
}
// End of reset classes

// defaults
div:focus {
	outline: none;
}
a,
a:visited {
	color: inherit;
	text-decoration: none;
}
a:hover,
a:focus {
	text-decoration: none;
	color: inherit;
}

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	-webkit-appearance: none;
	border: none;
	text-align: left;
	font-size: 1em;
	vertical-align: middle;
	padding: 10px 15px;
	margin-bottom: 12px;
}
input,
textarea {
	box-shadow: none !important;
	border-radius: 0;
}
input:focus,
textarea:focus,
select:focus,
option:focus {
	outline: none;
}
p {
	margin-bottom: 15px;
}
body {
	color: $text_black;
	font-family: $poppins-regular;
	background-color: #1b1b1b;
	overflow: auto;
	overflow-x: hidden !important;
}
body.hide_scroll {
	padding-right: 17px;
	overflow: hidden !important;
}
// END of resettting classes

// Helper Classes
.float-left {
	float: left !important;
}
.float-right {
	float: right !important;
}
.clear {
	clear: both;
}
.upper {
	text-transform: uppercase;
}
.lower {
	text-transform: lowercase !important;
}
.posrel {
	position: relative;
}
.posabs {
	position: absolute;
}
.mar0auto {
	margin: 0 auto;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.no-padding {
	padding-left: 0px;
	padding-right: 0px;
}
.no-margin {
	margin-left: 0px;
	margin-right: 0px;
}
.maze_o {
	color: #ff9600;
}
.maze_b {
	color: #000;
}
.text_main_color {
	color: $main_color;
}

// end
.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
::-moz-selection {
	/* Code for Firefox */
	color: $text_black;
	background: $main_color;
}
::selection {
	color: $text_black;
	background: $main_color;
}

:focus {
	outline: none !important;
}

@-webkit-keyframes fa-beat {
	0% {
		transform: scale(1);
	}
	5% {
		transform: scale(1.25);
	}
	20% {
		transform: scale(1.15);
	}
	30% {
		transform: scale(1.8);
	}
	45% {
		transform: scale(1);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes fa-beat {
	0% {
		transform: scale(1);
	}
	5% {
		transform: scale(1.25);
	}
	20% {
		transform: scale(1.15);
	}
	30% {
		transform: scale(1.8);
	}
	45% {
		transform: scale(1);
	}
	100% {
		transform: scale(1);
	}
}
.pulse {
	animation: fa-beat 1.2s ease infinite;
	display: inline-block;
	padding: 0px 5px 0px 4px;
	color: $sec_color;
}
.navbar-brand {
	position: relative;
}
header {
	z-index: 3;
}

//highlight color
::selection {
	background: #ff2b59;
	color: #ffffff;
}
//animation for header
.slide-in {
  transform: translateX(0);
}

.slide-out {
  transform: translateX(-100%);
}

//lock scroll
body.no-scroll {
  overflow: hidden;
}

#header{
	i{
		color: #EBE2D0;
		font-size: 2rem;
	}
	#hamburger-icon{
		padding-left: 1rem;
		padding-top: 1rem;
	}
	#mobile-menu{
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		background-color: #1b1b1b;
  		transition: transform 0.3s ease-in-out;
		i{
			position: absolute;
			top: 1rem;
			left: 1rem;
		}
		ul{
			text-align: center;
			li{
				padding-top: 0.3rem;
				padding-bottom: 0.3rem;
				font-family: $albert-extra-bold;
				a{
					color: #ffffff;
					font-size: 14px;
				}
				a:hover{
					color: #ff2b59;
				}
			}
		}
	}
	#desktop-menu {
		color: white;
		ul {
			text-align: center;
			li {
				padding: 0.3rem 0;
				font-family: $albert-extra-bold;

				a.menu-link {
					font-size: 14px;
					transition: color 0.3s;

					&:hover {
						color: #ff2b59;
					}
				}
			}
		}
	}

	// Styles for non-homepage navigation
	nav.non-homepage {
		#desktop-menu {
			ul {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-wrap: wrap;
				gap: 1.5rem;

				li {
					padding: 0;
					display: inline-block;

					a.menu-link {
						white-space: nowrap;
					}
				}
			}
		}
	}
}

.menu-dark {
	color: #272727 !important;
}

#home {
	height: 100dvh;
	background-color: #1b1b1b;
	position: relative;
	overflow: hidden;
	#nuwera-logo {
		position: absolute;
		max-width: 500px;
		width: 100%;
		height: auto;
		top: 35%;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1;
	}
	#nuwera-crowd-img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		transform: scale(calc(1 + var(--scroll) / 2));
		transition: transform 0.1s linear 0s;
		z-index: 0;
	}
}


#latest-single {
	background-color: #1b1b1b;
	h3,
	p {
		color: #ebe2d0;
	}
	h2,h3{
		text-transform: uppercase;
	}
	h2{
		font-size: 100px;
		color: #ff2b59;
		font-family: $heaters;
	}
	h3{
		word-wrap: break-word;
		font-size: 55px;
		line-height: 0.9;
		font-family: $albert-extra-bold;
	}
	p {
		font-size: 15px;
		font-family: $poppins-regular;
		margin-top: 0;
		margin-bottom: 1.88em;
	}
	ul{
		display: flex;
		flex-wrap: wrap;
	}
	li{
		background-color: #ff2b59;
		padding: 8px 30px;
	}
	li:hover {
		background-color: #ebe2d0;
		a{
			color: #121925;
		}
	}
	a {
		display: inline-block;
		font-family: $poppins-regular;
		color: #ffffff;
		font-size: 14px;
	}
	a.spotify::before {
		content: "\f1bc";
		font-family: "Font Awesome 6 Brands";
		padding-right: 8px;
	}

	a.youtube::before {
		content: "\f167";
		font-family: "Font Awesome 6 Brands";
		padding-right: 8px;
	}

	a.apple-music::before {
		content: "\f179";
		font-family: "Font Awesome 6 Brands";
		padding-right: 8px;
	}

	#vinyl-wrapper {
		position: relative;
		width: clamp(10rem, 30vw, 28rem);
		height: clamp(10rem, 30vw, 28rem);
	}
	#vinyl {
		position: absolute;
		width:clamp(10rem, 30vw, 28rem);
		height:clamp(10rem, 30vw, 28rem);
		left: 90%;
		animation: disc_spin 3.5s linear infinite;
		z-index: 1;
	}
	#latest-single-vinyl-pic {
		position: absolute;
		width: 12vw;
		top: 50%;
		left: 90%;
		animation: disc_spin_2 3.5s linear infinite;
		z-index: 0;
	}
	#latest-single-vinyl-large-pic{
		position: relative;
		width:clamp(10rem, 30vw, 28rem);
		height:clamp(10rem, 30vw, 28rem);
		z-index: 2;
		box-shadow: 0 10px 3px -9px rgba(0, 0, 0, .77);
	}
}

@keyframes disc_spin {
	0% {
		transform: translateX(-50%) rotate(0deg);
	}
	100% {
		transform: translateX(-50%) rotate(360deg);
	}
}

@keyframes disc_spin_2 {
	0% {
		transform: translate(-50%,-50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%,-50%) rotate(360deg);
	}
}

.albums {
	background-color: #121925;
	img {
		transition: filter 0.3s ease;
	}
	a:hover {
		filter: brightness(1.15) saturate(1.2);
	}
	h2 {
		font-size: 2.5rem;
		text-align: center;
		font-family: $albert-extra-bold;
		color: #fff;
		text-transform: uppercase;
	}
	h3 {
		font-family: $albert-extra-bold;
		font-size: 1.2rem;
		text-align: left;
		color: #fff;
		text-transform: uppercase;
	}
	.social-icons {
		display: flex;
		justify-content: start;
		align-items: center;
		li {
			margin: 0 5px;
			font-size: 15px;
			a {
				color: #fff;
			}
		}
	}
}

#about-us{
	background-color: #1b1b1b;
	img{
		width: 70%;
		height: 90%;
		object-fit: cover;
		//check this animation later
		// transform: translateY(calc(var(--scroll) * -10%));

		transform: scale(calc(1 + var(--about-us-scroll) / 10));
		transition: transform 0.1s linear 0s;
	}
	h2,h3,h4{
		text-transform: uppercase;
	}
	p,h2,h4{
		color: #ebe2d0;
	}
	h2,h4{
		font-family: $albert-extra-bold;
	}
	h2{
		word-wrap: break-word;
		font-size: 48px;
		line-height: 1.3;
	}
	h3{
		font-size: 89px;
		color: #ff2b59;
		font-family: $heaters;
	}
	h4{
		font-size: 32px;
	}
	p{
		font-family: $poppins-regular;
		font-size: 15px;
		line-height: 1.8;
	}
	ul{
		li{
			display: inline;
			margin-left: 0.8rem;
			margin-right: 0.8rem;
		}
	}
	svg{
		fill: #EBE2D0;
		width: 25px;
	}
}

.meet-the-band {
	background-color: #121925;
	img {
		transition: filter 0.3s ease;
		aspect-ratio: 116/137;
		object-fit: cover;
	}
	a:hover {
		filter: brightness(1.15) saturate(1.2);
	}
	h2 {
		font-size: 2.5rem;
		text-align: center;
		font-family: $albert-extra-bold;
		color: #fff;
		text-transform: uppercase;
	}
	h3 {
		font-family: $poppins-regular;
		font-size: 1.1rem;
		text-align: left;
		color: #fff;
		font-weight: 600;
	}
	p {
		color: #fff;
		font-size: 0.8rem;
		font-family: $poppins-regular;
	}
}
.shop-now {
	padding: 18rem 0;
	background-color: #fff;
	h2 {
		font-size: 5rem;
		text-align: center;
		font-family: $albert-extra-bold;
		color: #000;
		text-transform: uppercase;
	}
}

footer {
	background-color: #fff;
	a {
		font-size: 1.25rem;
		color: #000;
		font-family: $albert-extra-bold;
		text-transform: uppercase;
	}
	a:hover {
		text-decoration: underline;
	}
	li {
		margin-right: 8px;
	}
}

#back-to-top-link.back-to-top-visible {
	transform: translateY(0);
}

#back-to-top-link {
	background: none !important;
	bottom: 70px;
	display: block;
	height: auto;
	position: fixed;
	right: 40px;
	transform: translateY(200px);
	transition: transform 0.2s;
	width: 60px;
	z-index: 10;
	rotate: -90deg;
	z-index: 2;
}


.single-release {
	p{
		font-family: $poppins-regular;
		font-size: 1rem;
		margin-bottom: 10px;
	}
	h1{
		font-family: $albert-extra-bold;
		font-size: 1.5rem;
		text-transform: uppercase;
		color: #fff;
	}
	.social-share ul{
		list-style: none;
	}
	.social-share ul li a{
		font-size: 15px;
		margin-right: 5px;
		min-height: 50px;
		background-color: #ff2b59;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		min-width: 100px;
		margin-bottom: 10px;
	}

	.social-share ul li a:hover{
		background-color: #fff;
		color: #000;
	}

	.social-share ul li a span{
		display: none;
	}
}

// WooCommerce Styles
.woocommerce,
.woocommerce-page {
	background-color: #1b1b1b;

	// Text colors
	h1, h2, h3, h4, h5, h6,
	.woocommerce-breadcrumb,
	.product_title,
	.woocommerce-product-details__short-description,
	.woocommerce-Tabs-panel,
	label,
	.woocommerce-form-row label,
	.woocommerce-billing-fields h3,
	.woocommerce-shipping-fields h3,
	.woocommerce-additional-fields h3,
	.woocommerce-order-overview,
	.woocommerce-order-details,
	.woocommerce-customer-details,
	.woocommerce-thankyou-order-received,
	.woocommerce-info,
	.woocommerce-message,
	.product-name,
	.cart-subtotal,
	.order-total,
	th, td,
	p {
		color: #fff !important;
		font-family: $poppins-regular;
	}

	h1, h2, h3 {
		font-family: $albert-extra-bold !important;
		text-transform: uppercase;
	}

	// Links
	a {
		&:hover {
			color: #ff2b59 !important;
		}
	}

	// Inputs and textareas
	input[type="text"],
	input[type="email"],
	input[type="tel"],
	input[type="password"],
	input[type="number"],
	textarea,
	select {
		background-color: #2a2a2a !important;
		color: #fff !important;
		border: 1px solid #444 !important;
		padding: 10px 15px;

		&:focus {
			border-color: #ff2b59 !important;
			background-color: #333 !important;
		}
	}

	// Buttons
	button,
	.button,
	input[type="submit"],
	.woocommerce-Button,
	.single_add_to_cart_button,
	.checkout-button,
	.alt {
		background-color: #ff2b59 !important;
		color: #fff !important;
		border: none !important;
		padding: 12px 30px !important;
		font-family: $poppins-regular !important;
		font-size: 14px !important;
		text-transform: uppercase;
		transition: background-color 0.3s ease;
		cursor: pointer;

		&:hover {
			background-color: #ebe2d0 !important;
			color: #121925 !important;
		}
	}

	// Tables
	table {
		background-color: #2a2a2a;
		border-color: #444 !important;

		th, td {
			border-color: #444 !important;
		}

		thead {
			background-color: #333;
		}
	}

	// Cart table
	.cart_item {
		.product-remove a {
			color: #ff2b59 !important;
			&:hover {
				color: #ebe2d0 !important;
			}
		}
	}

	// Notices
	.woocommerce-info,
	.woocommerce-message {
		background-color: #2a2a2a !important;
		border-top-color: #ff2b59 !important;
		color: #fff !important;

		&::before {
			color: #ff2b59 !important;
		}
	}

	.woocommerce-error {
		background-color: #3a2a2a !important;
		border-top-color: #d82b2b !important;
		color: #fff !important;

		li {
			color: #fff !important;
		}
	}

	// Checkout page specific
	.woocommerce-checkout {
		.woocommerce-form-coupon-toggle,
		.woocommerce-form-login-toggle {
			.woocommerce-info {
				a {
					color: #ff2b59 !important;
				}
			}
		}

		#order_review_heading {
			color: #fff !important;
		}

		#order_review {
			background-color: #2a2a2a;
			padding: 20px;
			border-radius: 5px;
		}

		.woocommerce-checkout-payment {
			background-color: #2a2a2a;

			ul.payment_methods {
				li {
					background-color: #333;

					label {
						color: #fff !important;
					}
				}
			}
		}
	}

	// Product page
	.product {
		.price {
			color: #ff2b59 !important;
			font-weight: bold;
		}

		.stock {
			color: #4caf50 !important;

			&.out-of-stock {
				color: #f44336 !important;
			}
		}
	}

	// Quantity input
	.quantity {
		.qty {
			background-color: #2a2a2a !important;
			color: #fff !important;
			border: 1px solid #444 !important;
		}
	}

	// Variation radio buttons styling
	.variation-radio-buttons {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		margin-bottom: 20px;

		.variation-radio-label {
			position: relative;
			cursor: pointer;
			display: inline-flex;
			align-items: center;
			margin: 0;

			input[type="radio"] {
				position: absolute;
				opacity: 0;
				cursor: pointer;

				&:checked + .variation-radio-text {
					background-color: #ff2b59;
					color: #fff;
					border-color: #ff2b59;
				}

				&:focus + .variation-radio-text {
					outline: 2px solid #ff2b59;
					outline-offset: 2px;
				}
			}

			.variation-radio-text {
				padding: 10px 20px;
				background-color: #2a2a2a;
				color: #fff;
				border: 2px solid #444;
				border-radius: 5px;
				transition: all 0.3s ease;
				font-size: 14px;
				text-transform: uppercase;

				&:hover {
					background-color: #333;
					border-color: #ff2b59;
				}
			}
		}
	}

	// Sidebar widgets
	.widget {
		color: #fff;

		.widget-title {
			color: #fff !important;
			font-family: $albert-extra-bold;
		}

		ul li {
			color: #fff;

			a {
				color: #ebe2d0 !important;

				&:hover {
					color: #ff2b59 !important;
				}
			}
		}
	}

	// Single Product Page Custom Layout
	.single-product {
		.product {
			.summary {
				.product_title {
					font-family: $albert-extra-bold;
					font-size: 2rem;
					color: #fff;
					margin-bottom: 1rem;
					text-transform: uppercase;
				}

				.woocommerce-product-details__short-description {
					color: #ebe2d0;
					margin-bottom: 1.5rem;
					line-height: 1.6;

					p {
						margin-bottom: 1rem;
					}
				}

				.price {
					font-size: 1.5rem;
					margin-bottom: 1.5rem;
					order: 2;
				}

				.variations {
					margin-bottom: 2rem;
					order: 3;

					.variation-option-wrapper {
						margin-bottom: 1.5rem;

						label {
							display: block;
							font-family: $albert-extra-bold;
							color: #ebe2d0;
							margin-bottom: 0.75rem;
							font-size: 16px;
							text-transform: uppercase;
						}

						.hidden-variation-select {
							display: none !important;
						}
					}
				}

				.single_variation_wrap {
					margin-top: 2rem;
					order: 4;

					.single_variation {
						margin-bottom: 1.5rem;

						.woocommerce-variation-price {
							display: block !important;
							font-size: 1.5rem;
							margin-bottom: 1rem;

							.price {
								font-size: 1.5rem;
								color: #ff2b59;
								font-weight: bold;
							}
						}
					}
				}

				.single_add_to_cart_button {
					width: 100%;
					max-width: 300px;
					padding: 15px 30px;
					font-size: 16px;
					font-weight: bold;
					margin-top: 1rem;
					transition: all 0.3s ease;

					&:disabled,
					&.disabled {
						opacity: 0.5;
						cursor: not-allowed;
						background-color: #666 !important;

						&:hover {
							background-color: #666 !important;
							color: #fff !important;
						}
					}
				}

				// Hide meta (SKU, categories, tags)
				.product_meta {
					display: none;
				}
			}
		}
	}

	// Pagination
	.woocommerce-pagination {
		.page-numbers {
			background-color: #2a2a2a;
			color: #fff !important;
			border-color: #444 !important;

			&:hover,
			&.current {
				background-color: #ff2b59 !important;
				color: #fff !important;
				border-color: #ff2b59 !important;
			}
		}
	}

	// Select2 dropdowns (if used)
	.select2-container--default {
		.select2-selection--single {
			background-color: #2a2a2a !important;
			border-color: #444 !important;

			.select2-selection__rendered {
				color: #fff !important;
			}
		}

		.select2-results__option {
			background-color: #2a2a2a;
			color: #fff;

			&:hover {
				background-color: #ff2b59 !important;
			}
		}
	}

	.select2-dropdown {
		background-color: #2a2a2a !important;
		border-color: #444 !important;
	}
}