@import "variables";
@charset "utf-8";

@media (max-width: 1359px) {
    #latest-single{
        h3{
            font-size: 50px;
        }
        h2{
            font-size: 90px;
        }
    }
}

@media (max-width: 1199px) {
    #latest-single{
        h3{
            font-size: 45px;
        }
        h2{
            font-size: 80px;
        }
    }
}

@media screen and (max-width: 991px) {
    #latest-single{
        li{
            width: 100%;
        }
    }
}

@media (max-width: 767px) {
    #home{
        height: 30dvh;
        #nuwera-logo {
            width: 80%;
        }   
    }

    .shop-now{
        padding: 8rem;
        h2 {
            font-size: 2.5rem;
        }
    }
}

@media (max-width: 575px) {
    .albums {
        h2 {
            font-size: 1.5rem;
        }
        h3 {
            font-size: 1rem;
        }
    }
    .meet-the-band {
        h2 {
            font-size: 1.5rem;
        }
    }
    .shop-now{
        padding: 8rem 0;
        h2 {
            font-size: 1.5rem;
        }
    }
    footer {
        a {
            font-size: .85rem;
        }
    }
}

@media (max-width: 470px) {
}

@media (max-width: 400px) {
}

@media (max-width: 440px) {
}

@media (max-width: 350px) {
}

@media (min-width: 1390px) {
}
